/*
	Name: Atchum
	Date: ?
	Description: Layout for manufacturaindependente.org, using Foundation 6.
	Version: 1.0
	Original author: Manufactura Independente <http://manufacturaindependente.org/>
*/

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title],
abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

hr { border-color: #c09a96; }


body {
  line-height: 1.4;
}

.article .entry-date,
.home .entry-content p {
  font-weight: 300;
}

.entry-date,
.home .entry-title {
	font-weight: 400;
}

.entry-summary,
.entry-content {}

#header h1,
.entry-content .post-meta {
    font-weight: 700;
}

small,
.post-info p {
    font-size: 80%;
}

/* Layout
*/

#header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content {
    margin-bottom: 2rem;
}

section.list-page ul,
.list-page section ul { margin-bottom: 2rem; }

/* border-bottom  in category/archive list pages */
section.list-page ul li ,
.list-page section ul li  {
    border-top: 1px solid #47505e;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#content ul li.hentry p {
    margin-bottom: 0;
    line-height: 1.2;
}

.list-page #content h3 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.page h1.entry-title {
    border-bottom: 1px solid #47505e;
}

#header p a,
.article .entry-content a,
.page .entry-content a { border-bottom: 2px solid #fff; }
    
    #header p:first-child a { border-bottom: 0; }

#footer {
    margin-top: 1rem;
}

/* Block grids inside articles, pages... and with <ul> instead of <div>
*/

.entry-content ul.display {
  list-style: none;
  margin-left: 0;
}

.entry-content .grid-x.display {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}


/* Homepage
*/

#header h1, #header h5 {
    line-height: 1;
}

#header > p > a {
    display: block;
}

#header h1 { font-size: 1.75rem; }

#header p {
    line-height: 1.2;
    margin-bottom: 0;
}

#work-mosaic ul {
    padding-top: 2rem;
    margin-bottom: 1rem;
}

#work-mosaic ul .hentry,
.archive-page ul .cell  {
    height: 100%;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#work-mosaic ul a,
.archive-page ul a  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

#work-mosaic ul a img ,
.archive-page ul a img  {
    display: block;
}

.archive-page ul a span  {
    display: block;
    height: 100%;
    width: 100%;
    background: transparent url(../images/green-waved-stripe.png) repeat 0 0;
}

#work-mosaic ul a h3,
.archive-page ul a h3 {
    display: none;
}

#work-mosaic ul a:hover h3,
.archive-page ul a:hover h3 {
    display: block;
    line-height: 1;
    margin-bottom: 0;
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.list-page .hentry {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

.list-page .entry-title,
.list-page .entry-content {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.list-page .entry-content { line-height: 1.4; }

.list-page .entry-title a { display: inline-block; }

.list-page .entry-date abbr {
	font-size: 0.7rem;
	text-transform: uppercase;
}


[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
	border: 1px solid #4a4a5b;
	background-color: transparent;
	-webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	box-shadow: 0;
}

#subscribe .input-group [type="text"],
#subscribe .input-group [type="email"] {
    border-right: 0;
}


/* Article template
   Page template
*/

.article .entry-title,
.page .entry-title {
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #3e4652;
}

.article h2.entry-title,
.page h2.entry-title {
    display: block;
    padding-bottom: 0.25em !important;
}

.article .entry-date { /* Date */
    border-bottom: 1px solid #3e4652;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.article .entry-date abbr {
	font-size: 90%;
}

.undocumented {
    color: #C09A96;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    line-height: 1.2;
    margin-top: 1.25rem;
}


.page .entry-content p,
.article .entry-content p {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

    .page .entry-content h2 + p, .page .entry-content h3 + p,
    .page .entry-content h4 + p, .page .entry-content h5 + p,
    .article .entry-content h2 + p, .article .entry-content h3 + p,
    .article .entry-content h4 + p, .article .entry-content h5 + p { margin-top: 0; }

.article .entry-content h2,
.article .entry-content h3,
.article .entry-content h4 {
    margin-top: 1.25rem;
    padding-bottom: 0.25rem;
}

.article .entry-content > h3 {
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.translation {
    border-top: 1px solid #3e4652;
    padding-top: 0.25rem;
    margin-top: 2rem;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

.entry-content ul.details {
    list-style-type: none;
    margin-top: 1.25rem;
    margin-left: 0;
    line-height: 1.2;
    font-size: 90%;
}


#content pre {
    font-size: 0.875rem;
    background-color: #f5f2ee;
    padding: 1rem;
    margin-top: 1.25rem;
}

.entry-content iframe {
    margin-top: 1rem;
}

.post-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.post-info small.translation {
    display: block;
    border-top: 1px solid #c09a96;
    color: #c09a96;
}

.entry-content ul.grid-x {
    margin-top: 1.25rem;
}


.entry-content ul + p {
    margin-top: 0.5rem;
}


.article.fonts {
    .entry-content .large-2 {
        ul.details {
            margin-top: 0rem;
            li {
                margin: 1rem 0 0.25rem;
                &:first-child { margin: 0 0 0.5rem; }
                a {
                    text-transform: uppercase;
                    letter-spacing; 1px;
                    font-size: 90%;
                    &:first-child::before {
                        content: '';
                        display: block;
                        border-bottom: 0;
                    }
                    
                    &::before {
                        content: ' • ';
                        color: #40404e;
                        border-bottom: 2px solid #e9dfd2;
                    }
                }
            }
        }
    }
}


/* Archive template
*/

.archive-page .cell.small-12 {/*
    padding: 0;*/
    border: 1px solid #fff;
}

.archive-page .cell a { display: block; }

.archive-page .cell a > .entry-title {
    display: none;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.2;
    position: absolute;
    margin: 0;
    padding: 10px;
}

.archive-page .cell a:hover .entry-title { display: block; }

.archive-page .cell p {
    margin: 0;
    height: 160px;
    width: auto;
    overflow: hidden;
}


/* Large and up */
@media screen and (min-width: 64em) {

  /* remove padding in leftmost column and rightmost column, in post/work list */
  #content ul li.hentry.grid-x .cell:first-child { padding-left: 0; }
  #content ul li.hentry.grid-x .cell:last-child  { padding-right: 0; }
  

  .article .entry-title,
  .page .entry-title { font-size: 4rem; }

  
}
 

