/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title] {
    border-bottom: 0;
    cursor: default;
}


/* Typography
*/

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

body {
  font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
.post-info {
  font-family: 'Roboto Light';
}

.entry-date {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

.entry-summary,
.entry-content {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

strong,
#header h1,
.entry-content .post-meta {
  font-family: 'Roboto Bold';
	font-weight: normal;
}

small {
    font-size: 80%;
}

/* Layout
*/

#header {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content ul li .hentry {
    border-bottom: 1px solid #3e4652;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#content h3 {
    padding: 0.25em 0;
}

#content ul {
    margin-bottom: 2em;
}

/* Homepage
*/

.home .entry-title {
    font-size: 1em;
}

/* Article page
*/

.other .entry-title {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0.25em;
}

.other .entry-content p {
    margin-top: 1em;
}

    .other .entry-content p:first-child { margin-top: 0; }

.post-info { /* Date */
    border-bottom: 1px solid #3e4652;
    border-top: 1px solid #3e4652;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin-bottom: .5em;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

