body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title] {
    border-bottom: 0;
    cursor: default;
}


/* Typography
*/

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

body {
  font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
.post-info {
  font-family: 'Roboto Light';
}

.entry-date {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

.entry-summary,
.entry-content {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

strong,
#header h1,
.entry-content .post-meta {
  font-family: 'Roboto Bold';
	font-weight: normal;
}

small {
    font-size: 80%;
}

/* Layout
*/

.row.collapse > .columns {
    padding-right: 0.9375em;
}

.row.collapse > .columns:last-child {
    padding-right: 0;
}

#header {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content ul {
    margin-left: 0;
}

#content ul li .hentry {
    border-bottom: 1px solid #47505e;
}

#content ul li .hentry p {
    margin-bottom: 0;
}

#content h3 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#content ul {
    margin-bottom: 2em;
}

.page h1.entry-title {
    border-bottom: 1px solid #47505e;
}

/* Homepage
*/

#header h1, #header h5 {
    line-height: 1;
}

#header > p > a {
    display: block;
}

#header h1 { font-size: 1.75em; }

#header p {
    line-height: 1.2;
    margin-bottom: 0;
}

.list-page .entry-title {
    font-size: 1em;
}

.list-page .entry-date abbr {
	font-size: 0.7em;
	text-transform: uppercase;
}


/* Article page
*/

.article .entry-title,
.page .entry-title {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #3e4652;
}

.other .entry-content p {
    margin-top: 1em;
}

    .other .entry-content p:first-child { margin-top: 0; }

.post-info { /* Date */
    border-bottom: 1px solid #3e4652;
    padding-bottom: 0.25em;
    margin-bottom: .5em;
}

.translation {
    border-top: 1px solid #3e4652;
    padding-top: 0.25em;
    margin-top: 2em;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

/* large-collapse */
@media only screen and (min-width: 64.063em) {
    .large-collapse {
        padding: 0;
    }
    .large-collapse .columns {
        padding: 0;
    }
} 

