body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title] {
    border-bottom: 0;
    cursor: default;
}


/* Typography
*/

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: local('Roboto Italic'), url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fantasque Mono';
  src: local('Fantasque Mono'), url('../fonts/Fantasque/FantasqueSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
.post-info {
  font-family: 'Roboto Light';
}

.entry-date {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

.entry-summary,
.entry-content {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

em {
	font-family: 'Roboto Italic';
	font-style: normal;
}

strong,
#header h1,
.entry-content .post-meta {
    font-family: 'Roboto Bold';
    font-weight: normal;
}

pre, code {
	font-family: 'Fantasque Mono', monospace;
}

small {
    font-size: 80%;
}

pre 

/* Layout
*/

.row.large-collapse > .columns {
    padding-right: 0.9375em;
}

.row.large-collapse > .columns:last-child {
    padding-right: 0;
}

#header {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content {
    margin-bottom: 2em;
}

.list-page ul {
    margin-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

#content ul li .hentry {
    border-bottom: 1px solid #47505e;
    padding: 0.25em 0;
}

#content ul li .hentry p {
    margin-bottom: 0;
    line-height: 1.2;
}

.list-page #content h3 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.page h1.entry-title {
    border-bottom: 1px solid #47505e;
}

#header p a,
.article .entry-content a,
.page .entry-content a { border-bottom: 2px solid #fff; }
    
    #header p:first-child a { border-bottom: 0; }


/* Homepage
*/

#header h1, #header h5 {
    line-height: 1;
}

#header > p > a {
    display: block;
}

#header h1 { font-size: 1.75em; }

#header p {
    line-height: 1.2;
    margin-bottom: 0;
}

.list-page .entry-title {
    font-size: 1em;
    margin-bottom: 0;
}

.list-page .entry-date abbr {
	font-size: 0.7em;
	text-transform: uppercase;
}


/* Article page
*/

.article .entry-title,
.page .entry-title {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #3e4652;
}

.article .entry-title > a,
.page .entry-title > a {
    display: block;
    padding-bottom: 0.5em;
}
.article .entry-content p {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

    .article .entry-content h3 + p { margin-top: 0; }

.article .entry-content h3 {
    margin-top: 1.25rem;
    padding-bottom: 0.25em;
}

.article .entry-content > h3 {
    margin-top: 0.25em;
    padding-bottom: 0.25em;
}

.post-info { /* Date */
    border-bottom: 1px solid #3e4652;
    padding-bottom: 0.25em;
    margin-bottom: .5em;
}

.translation {
    border-top: 1px solid #3e4652;
    padding-top: 0.25em;
    margin-top: 2em;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

#content pre {
    font-size: 0.875em;
    background-color: #f5f2ee;
    padding: 1em;
    margin-top: 1.25rem;
}

/* large-collapse */
@media only screen and (min-width: 64.063em) {
    .large-collapse {
        padding: 0;
    }
    .large-collapse .columns {
        padding: 0;
    }
} 

