/*
	Name: Atchum
	Date: ?
	Description: Layout for manufacturaindependente.org, using Foundation 6.
	Version: 1.0
	Original author: Manufactura Independente <http://manufacturaindependente.org/>
*/

@import url("foundation.min.css");

$alarming-red: #AB0635;

body {
  line-height: 1;
  background: $alarming-red !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title],
abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

hr { border-color: #c09a96; }

/* Typography
*/

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: local('Roboto Italic'), url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fantasque Mono';
  src: local('Fantasque Mono'), url('../fonts/Fantasque/FantasqueSansMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6,
.article .entry-date,
.home .entry-content p {
  font-family: 'Roboto Light';
}

.entry-date,
.home .entry-title {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

.entry-summary,
.entry-content {
	font-family: 'Roboto Regular', 'DejaVu Sans', sans-serif;
}

em {
	font-family: 'Roboto Italic';
	font-style: normal;
}

strong,
#header h1,
.entry-content .post-meta {
    font-family: 'Roboto Bold';
    font-weight: normal;
}

pre, code {
	font-family: 'Fantasque Mono', monospace;
}

small,
.post-info p {
    font-size: 80%;
}

pre 

/* Layout
*/

.row.large-collapse > .columns {
    padding-right: 0.9375em;
}

.row.large-collapse > .columns:last-child {
    padding-right: 0;
}

#header {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content {
    margin-bottom: 2em;
}

.list-page ul {
    margin-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

#content ul li .hentry {
    border-bottom: 1px solid #47505e;
    padding: 0.25em 0;
}

#content ul li .hentry p {
    margin-bottom: 0;
    line-height: 1.2;
}

.list-page #content h3 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.page h1.entry-title {
    border-bottom: 1px solid #47505e;
}

#header p a,
.article .entry-content a,
.page .entry-content a { border-bottom: 2px solid #fff; }
    
    #header p:first-child a { border-bottom: 0; }

#footer {
    margin-top: 1em;
}

/* Homepage
*/

#header h1, #header h5 {
    line-height: 1;
}

#header > p > a {
    display: block;
}

#header h1 { font-size: 1.75em; }

#header p {
    line-height: 1.2;
    margin-bottom: 0;
}

.list-page .hentry {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

.list-page .entry-title,
.list-page .entry-content {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.list-page .entry-date abbr {
	font-size: 0.7em;
	text-transform: uppercase;
}


/* Article template
   Page template
*/

.article .entry-title,
.page .entry-title {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #3e4652;
}

.article h2.entry-title,
.page h2.entry-title {
    display: block;
    padding-bottom: 0.25em !important;
}

.undocumented {
    color: #C09A96;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    line-height: 1.2;
    margin-top: 1.25rem;
}


.page .entry-content p,
.article .entry-content p {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

    .page .entry-content h2 + p, .page .entry-content h3 + p,
    .page .entry-content h4 + p, .page .entry-content h5 + p,
    .article .entry-content h2 + p, .article .entry-content h3 + p,
    .article .entry-content h4 + p, .article .entry-content h5 + p { margin-top: 0; }

.article .entry-content h2,
.article .entry-content h3,
.article .entry-content h4 {
    margin-top: 1.25rem;
    padding-bottom: 0.25em;
}

.article .entry-content > h3 {
    margin-top: 0.25em;
    padding-bottom: 0.25em;
}

.article .entry-date { /* Date */
    border-bottom: 1px solid #3e4652;
    padding-bottom: 0.25em;
    margin-bottom: .5em;
}

.translation {
    border-top: 1px solid #3e4652;
    padding-top: 0.25em;
    margin-top: 2em;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

.entry-content ul.details {
    list-style-type: none;
    margin-top: 1.25rem;
    margin-left: 0;
    line-height: 1.2;
    font-size: 90%;
}

#content pre {
    font-size: 0.875em;
    background-color: #f5f2ee;
    padding: 1em;
    margin-top: 1.25rem;
}

.entry-content iframe {
    margin-top: 1em;
}

.post-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.post-info small.translation {
    display: block;
    border-top: 1px solid #c09a96;
    color: #c09a96;
}

.entry-content .small-block-grid-2,
.entry-content .small-block-grid-3,
.entry-content .small-block-grid-4,
.entry-content .small-block-grid-5,
.entry-content .small-block-grid-6 {
    margin-top: 1.25rem;
}


.entry-content ul + p {
    margin-top: 0.5rem;
}

/* Archive template
*/

.archive-page .row li {
    padding: 0;
    border: 1px solid #fff; /*#c09a96*/
}

.archive-page .row li a { display: block; }

.archive-page .row li .entry-title {
    display: none;
    font-family: 'Roboto Bold';
    font-size: 5rem;
    line-height: 1.2;
    position: absolute;
    margin: 0;
    padding: 10px;
}

.archive-page .row li:hover .entry-title {
    display: block;
}

.archive-page .row li p {
    margin: 0;
    height: 160px;
    overflow: hidden;
}


/* large-collapse */

@media only screen and (min-width: 64.063em) {
    .large-collapse {
        padding: 0;
    }
    .large-collapse .columns {
        padding: 0 1em 0 0;
    }
    .large-collapse .columns:last-child {
        padding: 0;
    }
    
} 

