/*
	Name: Atchum
	Date: ?
	Description: Layout for manufacturaindependente.org, using Foundation 6.
	Version: 1.0
	Original author: Manufactura Independente <http://manufacturaindependente.org/>
*/

/* Typography
*/

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto Regular'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: local('Roboto Italic'), url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fantasque Mono';
  font-weight: 400;
  font-style: normal;
  src: local('Fantasque Mono'), url('../fonts/Fantasque/FantasqueSansMono-Regular.ttf') format('truetype');
}

/* Import Foundation
*/

@import 'foundation';

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Overrinding Foundation styles
*/

abbr[title],
abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

hr { border-color: #c09a96; }


body {
  line-height: 1.4;
}

.article .entry-date,
.home .entry-content p {
  font-weight: 300;
}

.entry-date,
.home .entry-title {
	font-weight: 400;
}

.entry-summary,
.entry-content {}

#header h1,
.entry-content .post-meta {
    font-weight: 700;
}

small,
.post-info p {
    font-size: 80%;
}

/* Layout
*/

/*
.row.large-collapse > .columns {
    padding-right: 0.9375rem;
}

.row.large-collapse > .columns:last-child {
    padding-right: 0;
}*/

#header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content {
    margin-bottom: 2rem;
}

.list-page > ul { margin-bottom: 2rem; }

/*
#content ul li .hentry.row {
    border-top: 1px solid #47505e;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}*/

/* border-bototm  in category/archive list pages */
.list-page > ul li .row  {
    border-top: 1px solid #47505e;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#content ul li .hentry p {
    margin-bottom: 0;
    line-height: 1.2;
}

.list-page #content h3 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.page h1.entry-title {
    border-bottom: 1px solid #47505e;
}

#header p a,
.article .entry-content a,
.page .entry-content a { border-bottom: 2px solid #fff; }
    
    #header p:first-child a { border-bottom: 0; }

#footer {
    margin-top: 1rem;
}

/* Block grids inside articles, pages... and with <ul> instead of <div>
*/

.entry-content ul.display {
  list-style: none;
  margin-left: 0;
}

.entry-content .row.display {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}


/* Homepage
*/

#header h1, #header h5 {
    line-height: 1;
}

#header > p > a {
    display: block;
}

#header h1 { font-size: 1.75rem; }

#header p {
    line-height: 1.2;
    margin-bottom: 0;
}

.list-page .hentry {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}

.list-page .entry-title,
.list-page .entry-content {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
}

.list-page .entry-content { line-height: 1.4; }

.list-page .entry-title a { display: inline-block; }

.list-page .entry-date abbr {
	font-size: 0.7rem;
	text-transform: uppercase;
}


/* Article template
   Page template
*/

.article .entry-title,
.page .entry-title {
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #3e4652;
}

.article h2.entry-title,
.page h2.entry-title {
    display: block;
    padding-bottom: 0.25em !important;
}

.article .entry-date { /* Date */
    border-bottom: 1px solid #3e4652;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.article .entry-date abbr {
	font-size: 90%;
}

.undocumented {
    color: #C09A96;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    line-height: 1.2;
    margin-top: 1.25rem;
}


.page .entry-content p,
.article .entry-content p {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

    .page .entry-content h2 + p, .page .entry-content h3 + p,
    .page .entry-content h4 + p, .page .entry-content h5 + p,
    .article .entry-content h2 + p, .article .entry-content h3 + p,
    .article .entry-content h4 + p, .article .entry-content h5 + p { margin-top: 0; }

.article .entry-content h2,
.article .entry-content h3,
.article .entry-content h4 {
    margin-top: 1.25rem;
    padding-bottom: 0.25rem;
}

.article .entry-content > h3 {
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.translation {
    border-top: 1px solid #3e4652;
    padding-top: 0.25rem;
    margin-top: 2rem;
}

.other .entry-content a + img {
    display: block;
    border:  1px solid red;
}

.entry-content .post-meta {
    font-size: 80%;
}

.entry-content ul.details {
    list-style-type: none;
    margin-top: 1.25rem;
    margin-left: 0;
    line-height: 1.2;
    font-size: 90%;
}

#content pre {
    font-size: 0.875rem;
    background-color: #f5f2ee;
    padding: 1rem;
    margin-top: 1.25rem;
}

.entry-content iframe {
    margin-top: 1rem;
}

.post-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.post-info small.translation {
    display: block;
    border-top: 1px solid #c09a96;
    color: #c09a96;
}

.entry-content .small-block-grid-2,
.entry-content .small-block-grid-3,
.entry-content .small-block-grid-4,
.entry-content .small-block-grid-5,
.entry-content .small-block-grid-6 {
    margin-top: 1.25rem;
}


.entry-content ul + p {
    margin-top: 0.5rem;
}

/* Archive template
*/

.archive-page .row .column {/*
    padding: 0;*/
    border: 1px solid #fff;
}

.archive-page .row a { display: block; }

.archive-page .row a > .entry-title {
    display: none;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.2;
    position: absolute;
    margin: 0;
    padding: 10px;
}

.archive-page .row a:hover .entry-title { display: block; }

.archive-page .row .column p {
    margin: 0;
    height: 160px;
    width: auto;
    overflow: hidden;
}


/* Large and up */
@media screen and (min-width: 64em) {

  /* remove padding in leftmost column and rightmost column, in post/work list */
  #content ul li .hentry.row .columns:first-child { padding-left: 0; }
  #content ul li .hentry.row .columns:last-child  { padding-right: 0; }
  
  
  /* remove left padding in post/work list titles */
  .list-page .row.column { padding-left: 0; }

  .article .entry-title,
  .page .entry-title { font-size: 4rem; }

  
}
 

