{% extends "base.html" %}
{% block content %}
<section id="content" class="archive-page">

    <header>
      <h3>Archive</h3>
    </header>

    <div class="grid-x small-up-2 medium-up-4 large-up-5" data-equalizer id="workgrid"> 
      {% for article in dates %}
        {% if article.category.name in ['Work', 'Workshops'] %}
          {% if not 'undocumented' in article.tags %}
            <div class="cell" data-equalizer-watch>        
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                {% if article.featured_image %}
                  <img src="{{ article.featured_image }}">
                {% else %}
                  <!-- empty paragraph to align layout; remove when all entries have images! -->
                  <span>&nbsp;</span>
                {% endif %}
                <h3 class="entry-title">{{ article.title }}</h3>
              </a>
          </div>
          {% else %}
            <div class="cell" data-equalizer-watch>
              {% if article.featured_image %}
                <img src="{{ article.featured_image }}">
              {% else %}
                <!-- empty paragraph to align layout; remove when all entries have images! -->
                <span>&nbsp;</span>
              {% endif %}
              <h3 class="entry-title">{{ article.title }}</h3>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  
</section><!-- /#content -->
{% endblock content %}
