<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="description" content="{{ SITE_DESCRIPTION }}">
        
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css">

        {% assets filters="pyscss", output="css/style.css", "css/style.scss" %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.png">

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//proletar.io/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Piwik Code -->
</head>

{% if output_file == 'index.html' %}
    <body id="index" class="home">
{% else %}
    <body class="other">
{% endif %}
        <div class="grid-container">
            <header id="header" class="grid-x grid-margin-x">
              <div class="large-1 medium-2 small-4 cell">
                <p><a href="{{ SITEURL }}/"><img src="{{ SITE_LOGO }}" alt="{{ SITENAME }}"></a></h1>
              </div>  
              <div class="large-5 medium-5 small-8 cell">
                  <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                  <h5><a href="{{ SITEURL }}/">{{ SITESUBTITLE }}</a></h5>
              </div>
              <div class="large-6 medium-5 small-12 cell">
                <p><small>We're a design studio focused on free and open source software, libre culture and critical engagement with design tools. Read more <a href="{{ SITEURL }}/about/">about us</a>. <!-- Check our <a href="{{ SITEURL }}/category/work">portfolio</a> and <a href="{{ SITEURL }}/category/workshops">workshops</a>. --></small></p>
              </div>
            </header><!-- /#header -->
            
            {% block content %}
            {% endblock %}
            
            <footer id="footer" class="grid-x grid-margin-x">
              <div class="small-12 cell">
                <p>We're moving things about. Mi casa es su casa, but things might be messy.</p>
              </div>
            </footer><!-- /#footer -->
        </div><!-- /.grid-container -->

    <script src="{{ SITEURL }}/theme/js/vendor/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/js/vendor/foundation.min.js"></script>
    <script type="text/javascript">
          $(document).foundation();
    </script>
</body>
</html>
