<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="description" content="{{ SITE_DESCRIPTION }}">
        
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
        
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.png">

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//piwik.manufacturaindependente.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//piwik.manufacturaindependente.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

</head>

{% if output_file == 'index.html' %}
    <body id="index" class="home">
{% else %}
    <body class="other">
{% endif %}
        <header id="header" class="row large-collapse">
            <p class="large-1 medium-2 small-4 columns"><a href="{{ SITEURL }}/"><img src="{{ SITE_LOGO }}" alt="{{ SITENAME }}"></a></h1>
            <hgroup class="large-5 medium-5 small-8 columns">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                <h5><a href="{{ SITEURL }}/">{{ SITESUBTITLE }}</a></h5>
            </hgroup>
            <p class="large-6 medium-5 small-12 columns"><small>We're a design studio focused on free and open source software, libre culture and critical engagement with design tools. Read more <a href="{{ SITEURL }}/pages/about.html">about us</a>. <!-- Check our <a href="{{ SITEURL }}/category/work">portfolio</a> and <a href="{{ SITEURL }}/category/workshops">workshops</a>. --></small></p>
        </header><!-- /#header -->
        
        {% block content %}
        {% endblock %}
        
        <footer id="footer" class="row large-collapse">
            <p class="small-12 columns">We're moving things about. Mi casa es su casa, but things might be messy.</p>
        </footer><!-- /#footer -->
</body>
</html>
