{% extends "base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="/theme/js/vendor/phplist-subscribe-0.2.min.js"></script>
    <script type="text/javascript">var pleaseEnter = "Your e-mail address"; </script>
{% endblock extrascripts %}

{% block content %}
<div id="content" class="list-page">
  
  <section id="work-mosaic">
      <ul class="no-bullet grid-x small-up-2 medium-up-4">  
        {% for article in articles %}
          {% if article.category.name == 'Work' and FEATURED_TAG in article.tags %}
            <li class="cell hentry">
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
                      <p><img data-alt-src="{{ article.image }}" src="{{ article.image }}" alt="{{ article.title }}"></p>
                      <h3 class="p-name">{{ article.title }}</h3>
                  </a>
            </li>       
          {% endif %}
        {% endfor %}
      </ul>
  </section><!-- /#work-mosaic -->
  
  <section id="subscribe">
    <form action="https://manufacturaindependente.hosted.phplist.com/lists/?p=subscribe&id=1" method="post" id="phplistsubscribeform">
        <div class="input-group">
          <input class="input-group-field" id="emailaddress" type="text" name="email" placeholder="Enter your email" >
          <div class="input-group-button">
            <!--<input type="submit" class="button hollow" id="phplistsubscribe" value="Subscribe to our newsletter">-->
            <button type="submit" id="phplistsubscribe">Subscribe to our newsletters</button>
          </div>
        </div>
    </form>
    <div id="phplistsubscriberesult"></div>
  </section><!-- /#subscribe -->

  <section class="work">
    <h2>Work</h2>
      <ul id="portfolio-list" class="no-bullet">  
        {% for article in articles_page.object_list %}
          {% if article.category.name == 'Work' %}
            <li class="hentry grid-x grid-padding-x">
                <p class="entry-date cell large-1 medium-2 small-3">
                  <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
                </p>
                <header class="entry-header cell large-5 medium-10 small-9">
                  <h3 class="entry-title">
                    {% if not UNDOCUMENTED_TAG in article.tags %}
                      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
                    {% else %}
                      <span class="undocumented">{{ article.title }}</span>
                    {% endif %}
                  </h3>
                </header>
                <div class="entry-content cell large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
                  {{ article.summary }}
                </div>
            </li>       
          {% endif %}
        {% endfor %}
      </ul><!-- /#portfolio-list -->
  </section><!-- /.work -->
  
  <section class="workshops">
    <h2>Workshops</h2>
      <ul id="workshop-list" class="no-bullet">  
        {% for article in articles_page.object_list %}
          {% if article.category.name == 'Workshops' %}
            <li class="hentry grid-x grid-padding-x">
                <p class="entry-date cell large-1 medium-2 small-3">
                  <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
                </p>
                <header class="entry-header cell large-5 medium-10 small-9">
                  <h3 class="entry-title">
                    {% if not 'undocumented' in article.tags %}
                      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
                    {% else %}
                      <span class="undocumented">{{ article.title }}</span>
                    {% endif %}
                  </h3>
                </header>
                <div class="entry-content cell large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0"> {{ article.summary }} </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul><!-- /#workshop-list -->
  </section><!-- /.workshops -->
  

  <section class="writings">
    <h2>Writings</h2>
    <ul id="post-list" class="no-bullet">
    {% for article in articles_page.object_list  %}
      {% if article.category.name == 'Post' %}
        <li class="hentry grid-x grid-padding-x">
            <p class="entry-date cell large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header cell large-5 medium-10 small-9">
              <h3 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
              </h3>
            </header>
            <div class="entry-content cell large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
              {{ article.summary }}
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul><!-- /#post-list -->
  </section><!-- /.writings -->

</div><!-- /#content -->
{% endblock content %}
