{% extends "base.html" %}
{% block content %}
<section id="content" class="list-page">
  <div class="row column">
    <h2>Work</h2>
  </div>
  <ul id="portfolio-list" class="no-bullet">  
    {% for article in articles_page.object_list %}
      {% if article.category.name == 'Work' %}
        <li><article class="hentry row">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h3 class="entry-title">
                {% if not UNDOCUMENTED_TAG in article.tags %}
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                {% else %}
                  <span class="undocumented">{{ article.title }}</span>
                {% endif %}
              </h3>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
              {{ article.summary }}
            </div>
        </article></li>       
      {% endif %}
    {% endfor %}
  </ul><!-- /#portfolio-list -->
  
  <div class="row column">
    <h2>Workshops</h2>
  </div>
  <ul id="workshop-list" class="no-bullet">  
    {% for article in articles_page.object_list %}
      {% if article.category.name == 'Workshops' %}
        <li class="row"><article class="hentry">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h3 class="entry-title">
                {% if not 'undocumented' in article.tags %}
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                {% else %}
                  <span class="undocumented">{{ article.title }}</span>
                {% endif %}
              </h3>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0"> {{ article.summary }} </div>
        </article></li>
      {% endif %}
    {% endfor %}
  </ul><!-- /#workshop-list -->

  <div class="row column">
    <h2>Writings</h2>
  </div>
  <ul id="post-list" class="no-bullet">
    {% for article in articles_page.object_list  %}
      {% if article.category.name == 'Post' %}
        <li class="row"><article class="hentry">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h3 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              </h3>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
              {{ article.summary }}
            </div>
        </article></li>
      {% endif %}
    {% endfor %}
  </ul><!-- /#post-list -->

</section><!-- /#content -->
{% endblock content %}
