{% extends "base.html" %}
{% block content %}
<section id="content" class="list-page">
  <div class="row large-collapse">
    <div class="small-12 columns"><h3>Work</h3></div>
  </div>
  <ul id="portfolio-list">  
    {% for article in articles_page.object_list %}
      {% if article.category.name == 'Work' %}
        <li>
          <article class="hentry row large-collapse">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h2 class="entry-title">
                {% if not 'undocumented' in article.tags %}
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                {% else %}
                  <span class="undocumented">{{ article.title }}</span>
                {% endif %}
              </h2>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
              {{ article.summary }}
            </div>
          </article>
        </li>       
      {% endif %}
    {% endfor %}
  </ul><!-- /#portfolio-list -->
  
  <div class="row large-collapse">
    <div class="small-12 columns"><h3>Workshops</h3></div>
  </div>
  <ul id="workshop-list">  
    {% for article in articles_page.object_list %}
      {% if article.category.name == 'Workshops' %}
        <li><article class="hentry row large-collapse">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h2 class="entry-title">
                {% if not 'undocumented' in article.tags %}
                  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                {% else %}
                  <span class="undocumented">{{ article.title }}</span>
                {% endif %}
              </h2>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0"> {{ article.summary }} </div>
        </article></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="row large-collapse">
    <div class="small-12 columns"><h3>Writings</h3></div>
  </div>
  <ul id="post-list">
    {% for article in articles_page.object_list  %}
      {% if article.category.name == 'Post' %}
        <li>
          <article class="hentry row large-collapse">
            <p class="entry-date columns large-1 medium-2 small-3">
              <abbr title="{{ article.date|strftime('%b %Y') }}"> {{ article.date|strftime('%b %Y') }} </abbr>
            </p>
            <header class="entry-header columns large-5 medium-10 small-9">
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              </h2>
            </header>
            <div class="entry-content columns large-6 medium-10 small-9 small-offset-3 medium-offset-2 large-offset-0">
              {{ article.summary }}
            </div>
          </article></li>
      {% endif %}
    {% endfor %}
  </ul>

</section><!-- /#content -->
{% endblock content %}
