{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<section id="content" class="page">
    <header class="row large-collapse">
      <div class="columns large-12">
        <h2 class="entry-title">{{ page.title }}</h2>
      </div>
    </header>

    <div class="entry-content row large-collapse">
        <div class="large-8 medium-9 columns large-centered">
            {{ page.content }}
        </div>
    </div>
    
    <footer class="translation row large-collapse">
        {% import 'translations.html' as translations with context %}
        <small>{{ translations.translations_for(page) }}</small>
    </footer><!-- /.post-info -->
	{% if page.modified %}
		<p class="row large-collapse">
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
</div><!-- /#content -->
{% endblock %}
